@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

input {
  width: 50%;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-add {
  width: 50%;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

li {
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.task-name {
  font-size: 18px;
  flex-grow: 1;
}

.task-date {
  margin-left: 20px;
  font-size: 16px;
  white-space: nowrap;
}

.task-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 100%;
}

.btn-complete {
  background-color: #28a745;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.completed {
  text-decoration: line-through;
  color: #6c757d;
}

.timer {
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 4px;
  margin-top: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.show-modal {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.modal-header h2 {
  flex-grow: 1;
  text-align: center;
}

.close-button {
  margin-left: auto;
  padding: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .task-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .task-date {
    margin-top: 10px;
    margin-left: 0;
  }

  .task-actions {
    align-items: stretch;
  }

  button {
    width: auto;
  }
}


